@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Humor Podcasts</h1>
    <h2>For channel P1</h2>
    <h2>For channel P2</h2>
    <h2>For channel P3</h2>
</div>
